*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    border-bottom: solid 4px;
    border-color: black;
    background-color: white;
    color: black;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    font-size: 385%;
    background-image: url("img/leaves-pattern.png");
}

body{
    background-image: url("img/wheat.png");
    font-family: 'Open Sans', sans-serif;
}

.cheesecake{
    width: 40%;
    float: left;
    border: solid 4px black;
    border-left: 0;
    border-top: 0;
}

.list{
    width: 60%;
    float: right;
    border-left: 0;
    font-size: 18px;
}

.clearfix{
    clear:both
}

.cherry{
    border-bottom: solid 4px black;
    border-right: 0;
    list-style: none;
    padding-left: 40px;
    text-align: left;
    background-color: white;
    color: black;
    margin-top: 0;
    padding-left: 40px;
    padding-bottom: 188px;
    background-image: url("img/leaves-pattern.png");
    text-indent: 31px;
}

.cherry:last-of-type(end){
    border-bottom: 0px;
}

.cherry:before{
    content: '🍒 ';
    width: 100%;
    margin-left: -60px; 
}

.bar{
    background-image: url("img/leaves-pattern.png");
}

/*Setting beside the first two tables.*/
.CrustTableLeft{
    width: 50%;
    float: left;
    padding-left: 10%;
}

.FillingTableRight{
    width: 50%;
    float: right;
    padding-left: 10%;
}

.Table1andTable2Juxtapositioning{
    overflow: hidden;
    width: 100%;
}


/*Setting beside the last two tables.*/
.EquipmentTableLeft{
    width: 50%;
    float: left;
    padding-left: 10%;
}

.SauceTableRight{
    width: 50%;
    float: right;
    padding-left: 10%;
}

.Table3andTable4Juxtapositioning{
    overflow: hidden;
    width: 100%
}


h2{
    text-decoration: underline;
    text-align: left;
    padding-bottom: 15px;
    font-size: 150%;
}

hr{
    border: solid 2px black;
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}


/*Coloring the heading of the table.*/
.CrustTableHeader{
    color: #FF851B;
}

.FillingTableHeader{
    color: #0074D9;
}

.EquipmentTableHeader{
    color: black;
}

.SauceTableHeader{
    color: #FF4136;
}


/*Coloring the last line of the 4 tables.*/
.CrustTable tbody tr:last-of-type{
    border-bottom: solid 4px #FF851B;
}

.FillingTable tbody tr:last-of-type{
    border-bottom: solid 4px #0074D9;
}

.EquipmentTable tbody tr:last-of-type{
    border-bottom: solid 4px black;
}

.SauceTable tbody tr:last-of-type{
    border-bottom: solid 4px #FF4136;
}


/*Coloring the head of the 4 tables.*/
.CrustTable thead tr{
    background-color: #FF851B;
}

.FillingTable thead tr{
    background-color: #0074D9;
}

.EquipmentTable thead tr{
    background-color: #111111;
}

.SauceTable thead tr{
    background-color: #FF4136;
}


table thead tr{
    color: white;
    text-align: left;
    font-weight: bold;
}

table th, table td{
    padding: 12px 15px;
}

table tbody tr{
    border-bottom: 1px solid #f3f3f3;
}

table tbody tr{
    background-color: white;
}

table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.CrustMethodHeader{
    color: #FF851B;
    text-decoration: underline;
}

.CakeMethodHeader{
    color: #0074D9;
    text-decoration: underline;
}

.CakeFinishingMethodHeader{
    color:#4B0082;
    text-decoration: underline;
}

.SauceMethodHeader{
    color: #FF4136;
    text-decoration: underline;
}

.AuthorReferenceHeader{
    text-align: left;
    color: black;
}

/*Coloring the increment.*/
.UpperClassOfCrustMethodPoints{
    list-style: none;
    counter-reset: li;
}

.CrustMethodPoints:before{
    content: counter(li) ".";
    color: #FF851B;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    counter-increment: li;
}

.CrustMethodPoints{
    padding-left: 40px;
    margin-bottom: 8px;
    border-radius: 2px 2px 2px 2px;
}


/*Coloring the increment.*/
.UpperClassOfCakeMethodPoints{
    list-style: none;
    counter-reset: li
}

.CakeMethodPoints:before{
    content: counter(li) ".";
    color: #0074D9;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    counter-increment: li
}

.CakeMethodPoints{
    padding-left: 40px;
    margin-bottom: 8px;
    border-radius: 2px 2px 2px 2px;
}


/*Coloring the increment.*/
.UpperClassOfCakeFinishingMethodPoints{
    list-style: none;
    counter-reset: li
}

.CakeFinishingMethodPoints:before{
    content: counter(li) ".";
    color: #4B0082;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    counter-increment: li
}

.CakeFinishingMethodPoints{
    padding-left: 40px;
    margin-bottom: 8px;
    border-radius: 2px 2px 2px 2px;
}


.UpperClassOfSauceMethodHeaderPoints{
    list-style: none;
    counter-reset: li
}

.SauceMethodPoints:before{
    content: counter(li) ".";
    color: #FF4136;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    counter-increment: li
}

.SauceMethodPoints{
    padding-left: 40px;
    margin-bottom: 8px;
    border-radius: 2px 2px 2px 2px;
}


a{
    text-decoration: none;
    color: #0074D9;
}

a:hover{
    color: #FF4136;
}

.Opener{
    margin-bottom: 20%;
}

.AuthorReferenceList{
    margin-left: 10px;
    padding-bottom: 25px;
    font-size: 110%
}

.Filler{
    padding-bottom: 78px;
    background-image: url("img/leaves-pattern.png");
}

